@media screen and (min-width: 2000px) {
  .project-image {
    max-height: 320px !important;
    max-height: 20rem !important;
  }
  #projects #homedict-java img {
    max-height: 24rem !important;
  }
  #projects #create-folders img {
    max-height: 22rem !important;
  }
  #projects #path-edit img {
    max-height: 22rem !important;
  }
}

@media screen and (max-width: 1800px) {
  #projects-nav {
    margin-left: -288px;
    margin-left: -18rem;
  }
}

@media screen and (max-width: 1700px) {
  #projects-nav {
    margin-left: -272px;
    margin-left: -17rem;
  }
}

@media screen and (max-width: 1600px) {
  .project .project-separator-div {
    margin-left: -22px;
  }
}

@media screen and (max-width: 1500px) {
  #projects-nav {
    margin-left: -256px;
    margin-left: -16rem;
    font-size: 15px;
  }
  #projects .image-container,
  #projects img {
    /*max-width: 100% !important;*/
  }
  #projects .image-container {
    margin-bottom: 16px !important;
  }
  #projects #home-dictionary .image-container.last {
    display: none;
  }
  #projects #double-commander .image-container {
    margin-bottom: 8px !important;
  }
  #projects #advanced-admin-menu img {
    max-width: 70% !important;
  }
}

@media screen and (max-width: 1300px) {
  #app {
    width: 90%;
  }
  
  #projects-nav {
    width: 60%;
    margin: 1.5em auto 1em;
    position: relative;
    z-index: 10;
  }
  #projects-nav.affix {
    position: relative !important;
    top: 0;
  }
  #projects-nav #nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #projects-nav #nav > li {
    border-image: none;
    border: 1px solid #c7c7c7;
    margin: 6px;
  }
  #projects-nav li a {
    background: #fff;
    margin-right: 0;
    padding: 6px 8px 6px 10px;
  }
  #projects-nav li a:hover,
  #projects-nav li a:focus,
  #projects-nav li a:active,
  #projects-nav a.active {
    background: #edf2f4;
  }
  #projects-nav .menu-row-last {
    display: none;
  }

  #projects-nav .count-label {
    margin-left: 6px;
  }
  #projects-nav .active-indicator {
    display: none !important;
  }
  #projects-nav .projects-submenu {
    display: none !important;
  }
  #projects-nav #menu-wall {
    display: none;
  }
  
  #projects #home-dictionary .image-container.last {
    display: inline-block;
  }
  
  .project-separator-container {
    width: 85%;
  }
  .sm-hide {
    display: none;
  }
  
  .footer-content {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media screen and (max-width: 1100px) {
  #projects-nav {
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  #projects #home-dictionary .image-container.last {
    display: none;
  }
  #projects #regex-find-pr img {
    max-width: 100%;
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 830px) {
  #projects-nav {
    width: 100%;
  }
  .menu-part-i,
  .menu-part-ii {
    display: block;
  }
  .opera11 .contacts-menu li {
    float: none;
  }

  .menu-social .divider-menu {
    border: 0;
  }
  #projects .images img {
    /*margin-bottom: 8px;*/
  }
  
  #projects .description ul,
  #projects .description ol,
  #projects .images ul,
  #projects .images ol {
    padding-left: 30px;
  }
  ul ul {
    padding-left: 16px !important;
  }
  
  #projects .project .images .image-row {
    display: block;
    margin-bottom: 0;
  }
  #projects .project-type#android .images .image-row {
    display: flex;
  }
  #projects .project .images .image-row a {
    margin-right: 0;
    margin-bottom: 16px;
  }
  #projects .project .images .image-row img {
    margin-bottom: 0;
  }
  #projects .project .images .image-row .image-container a {
    margin-bottom: 0;
  }
  
  #projects #qtcolorpicker .images img {
    max-width: 100%;
  }
  #projects #advanced-admin-menu img {
    max-width: 100% !important;
  }
  #projects #double-commander .images img {
    max-height: 100%;
  }
}

@media screen and (max-width: 750px) {
  #projects #double-commander .image-row {
    display: block;
  }
  #projects .project .images img {
    /*max-height: 80%;*/
  }
}

@media screen and (max-width: 640px) {
  #projects-nav #nav > li {
    min-width: 170px;
    margin: 6px;
  }
  
  #projects .project {
    margin-left: 8px;
    margin-left: 0.5rem;
  }
  #projects .images {
    padding: 0;
  }
  /*#projects img {
    margin-right: 5px !important;
  }*/
  
  .project .project-separator-div {
    width: 100%;
    min-width: 0;
  }
  .project-separator-div .inner {
    display: none;
  }
  
  #projects #double-commander .images img {
    max-width: 100% !important;
    max-height: 320px !important;
    max-height: 20rem !important;
  }
  #projects #list-folders .images img, 
  #projects #android-manager .images img {
    max-height: 30rem !important;
  }
  #projects #metronomix .images .stacked-images {
    margin-right: 0;
  }
  
  #go-to-top {
    bottom: 16px;
    right: 16px;
  }
}

@media screen and (max-width: 500px) {
  pre {
    width: 100%;
  }
  
  #projects .images .image-row {
    display: block !important;
  }
  #projects .project .images .image-container {
    display: block;
  }
  #projects .project .images a {
    display: block !important;
    margin-right: 0 !important;
  }
  #projects .project .images img {
    /*margin-bottom: 16px;*/
  }
  #projects .images .image-row img {
    margin-bottom: 0;
  }
  
  #projects #metronomix .images a {
    margin-right: 0 !important;
    display: block;
  }
  #projects #metronomix .images img {
    width: 208px;
  }
  #projects #metronomix .images .stacked-images {
    margin-right: 0;
  }
  #projects #metronomix .images .stacked-images a {
    display: inline;
  }
  #projects #metronomix .images .stacked-images img {
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2) !important;
  }
  .projects-menu table td {
    padding: 0.8em 1em;
  }
  .projects-menu-item {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 420px) {
  pre {
    font-size: 12px;
  }
  .projects-menu .inner {
    border-radius: 0.2em;
  }
  .projects-menu table td {
    padding: 1.5em 0.5em;
  }
  .projects-menu-item {
    margin-bottom: 0.3em;
  }
  #projects img {
    margin-right: 0px !important;
  }
  .hidden-xxs {
    display: none !important;
  }
}

@media screen and (max-width: 350px) {
  .projects-menu .inner {
    padding: 0.5em;
  }
  .projects-menu table td {
    display: block;
    padding: 0;
  }
  
  .opera11 .contacts-menu a {
    font-size: 18px;
    font-size: 1.1rem;
    padding: 0.4em 0.7em;
  }
}

@media screen and (max-width: 330px) {
  .break-words-xxs {
    word-break: break-all;
  }
  .contacts-menu li {
    width: 33%;
  }
  .contacts-menu a {
    width: 70%;
    padding: 0.4em 0.5em;
    margin: 0px auto;
  }
}
