
@media screen and (min-width: 2000px) {
  .project-image{
    max-height: 320px !important;
    max-height: 20rem !important;
  }
  #projects #homedict-java img {
    max-height: 24rem !important;
  }
  #projects #create-folders img {
    max-height: 22rem !important;
  }
  #projects #path-edit img {
    max-height: 22rem !important;
  }
}

@media screen and (max-width: 1800px) {
  #projects-nav{
    margin-left: -18%;
  }
}

@media screen and (max-width: 1450px) {
  #projects-nav{
    margin-left: -18.5%;
  }
}

@media screen and (max-width: 1400px) {
  #projects-nav,
  .affix{
    width: 14%;
    min-width: 224px;
    min-width: 14rem;
  }
  
  #projects-nav .nav li a{
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 1300px) {
  #projects-nav,
  .affix {
    min-width: 0px;
    font-size: 15px;
    width: auto;
  }
  
  #projects-nav {
    margin-left: -210px;
  }
  #projects-nav .nav li a {
    padding-left: 20px;
    padding-right: 20px;
  }
  .project-separator-container{
    width: 85%;
  }
  
  .sm-hide{
    display: none;
  }
}

@media screen and (max-width: 1150px) {
  #projects-nav {
    margin-left: -190px;
  }
}

@media screen and (max-width: 1000px) {
  #site{
    width: 95%;
  }
  #projects-nav{
    display: none;
  }
  #menu-box{
    display: block;
    width: 60%;
  }
  
  #projects #regex-find-pr img{
    max-width: 100%;
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 830px) {
  #menu-box{
    width: 80%;
  }
  .menu-part-i,
  .menu-part-ii{
    display: block;
  }
  .opera11 .contacts-menu li {
    float: none;
  }

  .menu-social .divider-menu{
    border: 0;
  }
  #projects img{
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
  }
  
  #projects .description ul,
  #projects .description ol,
  #projects .images ul,
  #projects .images ol {
    padding-left: 30px;
  }
}

@media screen and (max-width: 640px) {
  #menu-box{
    width: auto;
  }
  
  #projects .project{
    margin-left: 8px;
    margin-left: 0.5rem;
  }
  #projects img{
    margin-right: 5px !important;
  }
  
  #projects #stater-point img {
    padding: 10px;
    border: 0 !important;
  }
  #projects img{
    max-width: 100% !important;
    max-height: 18rem !important;
  }
}

@media screen and (max-width: 500px) {
  .projects-menu table td {
    padding: 0.8em 1em;
  }
  .projects-menu-item {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 420px) {
  .projects-menu .inner {
    border-radius: 0.2em;
  }
  .projects-menu table td {
    padding: 1.5em 0.5em;
  }
  .projects-menu-item {
    margin-bottom: 0.3em;
  }
  #projects img{
    margin-right: 0px !important;
  }
  .footer-content {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .hidden-xxs {
    display: none !important;
  }
}

@media screen and (max-width: 350px) {
  #menu-box a {
    font-size: 15px;
  }
  .projects-menu .inner {
    padding: 0.5em;
  }
  .projects-menu table td {
    display: block;
    padding: 0;
  }
  
  .opera11 .contacts-menu a {
    font-size: 18px;
    font-size: 1.1rem;
    padding: 0.4em 0.7em;
  }
}

@media screen and (max-width: 330px) {
  .break-words-xxs{
    word-break: break-all;
  }
  .contacts-menu li {
    width: 33%;
  }
  .contacts-menu a {
    width: 70%;
    padding: 0.4em 0.5em;
    margin: 0px auto;
  }
}

