
@media screen and (min-width: 2000px) {
  .project-image{
    max-height: 320px !important;
    max-height: 20rem !important;
  }
  #projects #homedict-java img {
    max-height: 24rem !important;
  }
  #projects #create-folders img {
      max-height: 22rem !important;
  }
  #projects #path-edit img {
      max-height: 22rem !important;
  }
}

@media screen and (max-width: 1800px) {
  #projects-nav{
    margin-left: -18%;
  }
}

@media screen and (max-width: 1450px) {
  #projects-nav{
    margin-left: -18.5%;
  }
  #projects-nav,
  .affix{
    width: 14%;
    min-width: 224px;
    min-width: 14rem;
  }
  
  .nav li a{
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 1300px) {
  #projects-nav, .affix {
      min-width: 0px;
      font-size: 15px;
      width: auto;
  }
  
  #projects-nav {
      margin-left: -180px;
  }
  .project-separator-container{
    width: 85%;
  }
  
  .sm-hide{
    display: none;
  }

  /*#projects-nav{
    display: none;
  }
  #menu-box{
    display: block;
    width: 60%;
  }*/
}

@media screen and (max-width: 1000px) {
  #site{
    width: 95%;
  }
  #projects-nav{
    display: none;
  }
  #menu-box{
    display: block;
    width: 60%;
  }
  
  #projects #regex-find-pr img{
    max-width: 100%;
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 830px) {
  #menu-box{
    width: 80%;
  }
  .menu-part-i,
  .menu-part-ii{
    display: block;
  }
  .opera11 .contacts-menu li {
    float: none;
  }

  #menu-social-menu .divider-menu{
    border: 0;
    /*border: 1px solid red;*/
  }
  #projects img{
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 640px) {
  #menu-box{
    width: auto;
  }
  
  #projects .project{
    margin-left: 8px;
    margin-left: 0.5rem;
  }
  #projects img{
    margin-right: 0 !important;
  }
  
  #projects #stater-point img {
      padding: 10px;
      border: 0 !important;
  }
  #projects img{
    max-width: 100% !important;
    max-height: 18rem !important;
    /*max-height: 80% !important;*/
  }
}

@media screen and (max-width: 420px) {
  .projects-menu .inner {
      border-radius: 0.2em;
      box-shadow: 0px 0px 7px rgba(126, 173, 183, 0.7) inset;
  }
  .projects-menu table td {
      padding: 1.5em 0.5em;
  }
}

@media screen and (max-width: 340px) {
  .opera11 .contacts-menu a {
    font-size: 18px;
    font-size: 1.1rem;
    padding: 0.4em 0.7em;
  }
}

@media screen and (max-width: 310px) {
  .contacts-menu li {
      width: 33%;
  }
  .contacts-menu a {
      width: 70%;
      padding: 0.4em 0.5em;
      margin: 0px auto;
  }
}

