
/* ----------------- general ----------------- */

html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  position: relative;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header,nav,article,footer,section,aside,figure,figcaption {
  display:block
}


p {
  margin:0;
  margin-bottom: 2px;
}
li {
  margin-bottom: 2px;
}

ul, ol {
  margin: 0;
}
ul ul {
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: #316678;
}
a:hover,
a:focus {
  text-decoration: underline;
}
pre, code {
  padding: 10px 18px;
  margin: 0;
  font-size: 85%;
  background-color: #1b1f2317;
  color: #000;
  border-radius: 3px;
  font-family: Consolas, monospace;
  cursor: default;
  line-height: 1.4;
}
pre {
  width: 90%;
}

.image-full {
  max-width: 100% !important;
}

.img-shadow {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
}

.center {
  text-align: center;
}

.clearfix {
  clear: both;
}

.align-top {
  vertical-align: top;
}

.mb0 {
  margin-bottom: 0 !important;
}
.mb5 {
  margin-bottom: 5px;
}
.mb7 {
  margin-bottom: 7px;
}
.mt5 {
  margin-top: 5px;
}

.shortcut {
  padding: 0px 5px;
  background: #fafafa;
  border: 1px solid #aaa;
  border-radius: 3px;
  cursor: default;
  font-weight: 700;
}
.shortcut:hover {
  background: #eee;
}

.new {
  padding: 0px 5px 2px;
  background: #c8f0c7;
  border: 1px solid #8ebb8e;
  border-radius: 6px;
  font-weight: 700;
  cursor: default;
}


/* ----------------- content ----------------- */

.section-title {
  font-family: 'Alegreya';
  font-size: 24px;
  line-height: 1em;
  
  /*font-family: 'Roboto';*/
  /*font-family: 'Lato';*/
  
  /*font-family: 'Anxiety Management';*/
  /*font-size: 28px;*/
  
  /*font-family: 'McKenna';*/
  /*font-size: 40px;*/
  
  /*font-family: 'Sparrow';*/
  /*font-size: 30px;*/
}

#site {
  width: 60%;
  margin: 0 auto;
  color: #333;
  font-family: 'Ubuntu';
  font-size: 16px;
}

#header {
  text-align: center;
  margin: 0 auto;
  padding: 15px 0px;
}

.under-construction {
  color: #691B1B;
  margin: 7px;
  font-family: Tahoma;
}

#header .name {
  font-size: 26px;
}
#header .name a {
  text-decoration: none;
  color: #333;
}

#header .name a:hover,
#header .name a:focus {
  text-decoration: underline;
  opacity: 0.8;
}

#content #contacts, #content #projects {
  padding: 16px 0px;
}
#content #projects {
  padding-bottom: 0px;
}

.section {
  border-bottom: 1px solid #ddd;
}

#header h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

#header .name {
  margin-bottom: 5px;
}

.divider-menu {
  border-right: 2px solid #ccc;
}


/* ----------------------------------- contacts ------------------------------- */

.contacts-menu {
  position: relative;
  display: block;
  width: 100%;
  clear: both;
  padding: 16px 0px 0px;
  margin-top: 0px;
}
.contacts-menu .contacts-menu-container {
  text-align: center;
  line-height: 16px;
  line-height: 1rem;
}
.contacts-menu ul {
  display: inline-block;
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.contacts-menu li {
  position: relative;
  display: inline-block;
  float: left;
}

.contacts-menu a {
  display: block;
  font-size: 19px;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.4em 0.8em;
  color: #333;
  line-height: 1em;
}

.contacts-menu li:hover > a,
.contacts-menu li > a:focus {
  color: #fff;
  background: #61939b;
  /*background: #098598;*/
  /*background: #828282;*/
}
.contacts-menu li:hover > a {
  transition: background 0.15s;
}
.menu-part-i,
.menu-part-ii {
  display: inline-block;
}


/* ----------------- projects menu ----------------- */

/* === side-fixed-menu === */

#projects-nav {
  position: absolute;
  margin-left: -275px;
  margin-left: -19rem;
}
#projects-nav,
.affix {
  width: 14%;
  min-width: 220px;
}

#projects-nav .nav {
  border: 2px solid #444;
  border-radius: 7px;
}
#projects-nav .nav li {
  margin: 0;
}
#projects-nav .nav li a {
  padding: 10px 15px;
  color: #333;
  background: #eee;
  border-bottom: 1px solid #333;
  -webkit-transition-duration: 0.05s;
  -moz-transition-duration: 0.05s;
  transition-duration: 0.05s;
}
#projects-nav .nav li:first-child a {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#projects-nav .nav li:last-child a {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#projects-nav .nav li:last-child a {
  border-bottom: 0;
}
#projects-nav .nav li a:hover,
#projects-nav .nav li a:focus,
#projects-nav .nav li a:active,
#projects-nav .nav .active a {
  /*background: #729297;*/
  background: #61939b;
  color: #fff;
  outline: 0;
}

.affix-top {
  position: relative;
}
.affix {
  top: 20px;
}
.affix-bottom {
  position: absolute;
}


/* === ie-menu === */

#menu-box {
  display: none;
  margin: 1em auto;
  text-align: center;
  width: 40%;
  background: #fafafa;
}

.projects-menu .inner {
  border-radius: 5px;
  -ms-border-radius: 0.5em;
  border: 1px solid #ccc;
  /*-moz-box-shadow: 0px 0px 4px #a4b2b5 inset;
  -webkit-box-shadow: 0px 0px 4px #a4b2b5 inset;
  -ms-box-shadow: 0px 0px 4px #a4b2b5 inset;
  box-shadow: 0px 0px 4px #a4b2b5 inset;*/
}
.projects-menu table {
  margin: 0px auto;
  text-align: left;
}
.projects-menu table td {
  padding: 0.8em 1.5em;
}
.projects-menu-item {
  margin-bottom: 0.4em;
  font-size: 105%;
}


/* ----------------- projects ----------------- */

.project .images img {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.project-image,
.container-image {
  max-height: 240px;
  max-height: 15rem;
  max-width: 100%;
  
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  margin-right: 8px;
  margin-right: 0.5rem;
}
.image-row {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

#projects .project-type {
  margin-bottom: 3em;
}
#projects .type-description {
  margin-bottom: 1.5em;
  margin-top: 40px;
  margin-top: 2.5rem;
  
  padding: 0.7em 1em;
  border-left: 3px solid #aaa;
  border-right: 3px solid #aaa;
}
#projects .type-title-wrap {
  margin-top: 24px;
  margin-top: 1.5rem;
  text-align: center;
}
#projects .type-title {
  padding: 4px 50px;
  text-align: center;
  display: inline-block;
  border-top: 4px solid #62ad62;
  border-bottom: 4px solid #62ad62;
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: -1rem;
}

#projects .subtype-title {
  font-weight: 700;
  font-style: italic;
  margin: 40px 0px;
  margin: 2.5rem 0px;
  margin-bottom: -16px;
  margin-bottom: -1rem;
  
  font-size: 1.1em;
}

#projects .project {
  margin: 32px 0 32px 16px;
  margin: 2rem 0 2rem 1rem;
}

.project .title {
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: 5px;
}

#projects .description {
  margin-bottom: 1.5em;
}

#projects .images {
  text-align: center;
}
#projects .images a {
  font-size: 0;
  outline: 0;
}
#projects .image-titles {
  text-align: left;
  margin-bottom: 1em;
}

#projects .images a:focus > img {
  outline: 1px dotted #000;
}
#projects .images a:hover > img {
  opacity: 0.8;
}

.project-features {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 700;
  color: #666;
  font-size: 90%;
}

.image-container {
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}
#projects .image-container img {
  margin-bottom: 0;
  margin-right: 0;
}
.image-caption {
  font-style: italic;
  font-size: 14px;
}

#projects .project-modules-list {
  margin-top: 1em;
}
#projects .project-modules-list li {
  margin-top: 0.5em;
}


#projects #simpleblog img {
  max-width: 45%;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
}

#projects .project-type#android .title {
  margin-bottom: 0;
}
#projects .project-type#android .images img {
  max-height: 272px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
}
#projects .project-type#android .images img.project-image {
  margin-right: 16px;
  margin-right: 1rem;
}

#projects .project-type#qt-cpp .title {
  margin-bottom: 0;
}

#projects .project-type#android #metronomix .project-icon img {
  width: 50px;
}
#projects .project-type#android #metronomix .images img {
  max-height: 304px;
  max-height: 19rem;
}
#projects .project-type#android #metronomix .images .stacked-images {
  display: inline-block;
  vertical-align: top;
  margin-right: 1rem;
}
#projects .project-type#android #metronomix .images .stacked-images img {
  margin-right: 0 !important;
  margin-bottom: 4px;
  width: 208px;
  box-shadow: none !important;
}

#projects .project-type#android #kodi-control .project-icon {
  padding-top: 0;
}
#projects .project-type#android #kodi-control .images img {
  max-height: 320px;
}

#projects .project-type#android #task-lister .images img {
  max-height: 320px;
}

#projects #qtcolorpicker .images img {
  margin-right: 0;
  max-height: 17rem;
  max-width: 40rem;
}
#projects #list-folders .images img {
  max-height: 336rem;
  max-height: 21rem;
}
#projects #path-edit .images img {
  max-height: 100%;
}
#projects #android-manager .images img {
  max-height: 384px;
  max-height: 24rem;
}

#projects #stater-point img {
  max-width: 47%;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}
#projects #html-post-editor .image-container {
  max-width: 47%;
}
#projects #html-post-editor img {
  border: 1px solid #ccc;
}
#projects #tinymce-code-formatting .image-container {
  max-height: 100%;
  margin-bottom: 10px;
}
#projects #advanced-admin-menu img {
  max-height: 100%;
  max-width: 47%;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

#projects #firefox-addons .subtype.android-addons .images img {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
}
#projects #bookmarks-sidebar-button-pr img {
  margin-right: 16px;
  margin-right: 1rem;
}
#projects #regex-find-pr img {
  margin-bottom: 16px;
  margin-bottom: 1rem;
  margin-right: 16px;
  margin-right: 1rem;
}

#projects #double-commander .images img {
  max-width: 300px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
}
#projects #double-commander .image-container {
  margin-right: 0.5rem;
}
#projects #adbview .images img {
  max-height: 20rem;
}
#projects #cplusplus-reference .images img {
  max-height: 19rem;
}


/* ----------------------------------- footer ------------------------------- */

#footer {
  margin: 0 auto;
}
#footer,
#footer a,
#footer a:hover,
#footer a:focus,
#footer a:active {
  color: #444;
}
.site-footer {
  padding: 0px;
  background: transparent;
}
.footer-content {
  padding: 14px 24px;
}
.footer-content .footer-info {
  padding: 0;
}

#footer a.footer-github-source-icon {
  display: inline-block;
  vertical-align: top;
  margin-top: -3px;
  margin-left: 2px;
  font-size: 1.6em;
  line-height: 1;
  color: #555;
}
#footer a.footer-github-source-icon:hover,
#footer a.footer-github-source-icon:focus {
  color: #111;
  text-decoration: none;
}
#footer a.footer-github-source-icon::before {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'Fontawesome';
  content: '\f09b';
}


/*------------------------------------ Clearing ------------------------------------*/
.footer-content:after {
  clear: both;
}
.footer-content:before,
.footer-content:after {
  display: table;
  content: '';
}

/*------------------------------------ Font Icons ------------------------------------*/
.contacts-menu ul li a::before {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'Fontawesome';
  vertical-align: middle;
}

.contacts-menu ul li a::before {
  content: '\f17c';
}
.contacts-menu ul li a[href*="@"]::before {
  content: '\f0e0';
}
.contacts-menu ul li a[href*="plus.google.com"]::before {
  /*content: '\f0d5';*/
  content: '\f0d4';
}
.contacts-menu ul li a[href*="vk.com"]::before {
  content: '\f189';
}
.contacts-menu ul li a[href*="facebook.com"]::before {
  content: '\f09a';
}
.contacts-menu ul li a[href*="linkedin.com"]::before {
  content: '\f0e1';
}
.contacts-menu ul li a[href*="github.com"]::before {
  content: '\f113';
}
.contacts-menu ul li a[href*="twitter.com"]::before {
  content: '\f099';
}
.contacts-menu ul li a[href*="addons.mozilla.org"]::before {
  content: '\f12e';
}
.contacts-menu ul li a[href*="joomla.org"]::before {
  content: '\f1aa';
}
.contacts-menu ul li a[href*="stackoverflow.com"]::before {
  content: '\f16c';
}
.contacts-menu ul li a[href*="soundcloud.com"]::before {
  content: '\f1be';
}
.contacts-menu ul li a[href*="tumblr.com"]::before {
  /*content: '\f173';*/
  content: '\f174';
}

.contacts-menu ul li a[href*="wordpress.org"]::before,
.contacts-menu ul li a[href*="wordpress.com"]::before {
  font-family: "dashicons";
  /*content: "\f324";*/
  content: "\f120";
}

.contacts-menu ul li a[href*="sourceforge.net"]::before {
  font-family: 'icomoon' !important;
  content: "\e903";
}

a.github-source-icon {
  color: #555;
  margin-left: 5px;
  font-size: 120%;
}
a.github-source-icon:hover,
a.github-source-icon:focus {
  color: #111;
  text-decoration: none;
}

a.github-source-icon::before {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'Fontawesome';
  content: '\f09b';
}


/* ---------------------------- add ---------------------------- */

/*.project-separator-container {
  margin: 0px auto;
  width: 75%;
}
hr.project-separator { 
  padding: 0;
  border: none;
  border-top: 1px solid #ccc;
  color: #777;
  text-align: center;
  margin: 0 0 0 16px;
  height: 0;
} 
hr.project-separator:after { 
  content: "\2022";
  display: inline-block;
  position: relative;
  top: -0.65em;
  padding: 0 0.25em;
  background: white;
  font-size: 24px;
  font-size: 1.5rem;
}*/

hr.project-separator {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: 1px solid #ccc;
  color: #777;
  text-align: center;
  width: 75%;
  height: 0;
  margin: 0 auto;
}
hr.project-separator:after {
  content: "\2022";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

.screen-reader-text {
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute !important;
}


#go_to_top {
  display: inline-block;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  width: 50px;
  height: 50px;
  bottom: 30px;
  right: 30px;
  background-color: #dfdfdf;
  border-radius: 39px;
  border: 1px solid #98a8ab;
  text-align: center;
  text-decoration: none;
  transition: opacity .3s, visibility .3s;
  cursor: pointer;
  outline: none;
  z-index: 1000;
}
#go_to_top::after {
  content: '\f077';
  font-family: 'Fontawesome';
  font-weight: normal;
  font-style: normal;
  font-size: 1.3em;
  line-height: 44px;
  color: #7a8b92;
}
#go_to_top:hover {
  text-decoration: none;
  background-color: #ccc;
}
#go_to_top:hover::after {
  color: #546267;
}
#go_to_top.show {
  opacity: 1;
  visibility: visible;
}


/* ---------------------------- bootstrap override ---------------------------- */

.tooltip {
  white-space: nowrap;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 4px 0;
}
.tooltip-inner {
  max-width: 200px;
  padding: 2px 5px;
  color: #ffffff;
  text-align: center;
  /*background-color: #0D576B;*/
  background-color: #61939b;
  border-radius: 0;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -4px;
  border-width: 0 3px 4px;
  border-bottom-color: #0D576B;
}


/*---*/
ul.list-aligned {
  padding-left: 1em !important;
}

.project .project-icon {
  float: left;
  margin-bottom: 0.5rem;
  margin-right: 10px;
  padding-top: 5px;
}
